
MYSQL_DATABASE=""
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_ROOT_PASSWORD=""


DEBUG=""
SECRET_KEY=""
ALLOWED_HOSTS=""

DB_NAME=""
DB_USER=""
DB_PASSWORD=""
DB_HOST=""
DB_PORT=""
CORS_ALLOWED_ORIGINS=""

REDIS_URL=""
AI_AUTO_EDIT_USE_MOCK=""
OLLAMA_BASE_URL=""


NEXT_PUBLIC_API_URL=""
